* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f9f9f9;
}

header {
    display: flex;
    justify-content: center;
    padding: 70px;
    background: #e5e5e5;
    color: #222021;
}

main {
    display: flex;
    justify-content: center;
    min-height: 30vh;
    background: #f9f9f9;
    color: #222021;
    padding: 50px;
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #e5e5e5;
    display: none;
}

.form-box.active {
    display: block;
}


input,
select {
    width: 100%;

}

button {
    width: 100%;
    padding: 12px;
    background: #222021;
    color: #f9f9f9;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
}

button:hover {
    background: #696868;
}

.error-message {
    background: #ffdddd;
    border-left: 6px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    color: #a42834;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.navbar ul{
    font-family: Verdana;
    background-color: #ccc;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
} 
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;

}
.navbar a:hover{
    background-color: #aaa;
}
.navbar li{
    display: inline-block;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 6px 10px; 
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 15px;
    margin-right: 5px;
}

.btn-success {
    background-color: #28a745;
    border: 1px solid #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    border: 1px solid #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}
