* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f9f9f9;
}

header {
    display: flex;
    justify-content: center;
    padding: 70px;
    background: #e5e5e5;
    color: #222021;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 30vh;
    background: #f9f9f9;
    color: #222021;
    padding: 50px;
}

.form-box {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    background: #e5e5e5;
}

input,
select {
    height: 100%;
    padding: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #222021;
    margin-bottom: 20px;

}

button {
    width: 100%;
    padding: 12px;
    background: #222021;
    color: #f9f9f9;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
}

button:hover {
    background: #696868;
}

p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

p a {
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.error-message {
    background: #ffdddd;
    border-left: 6px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    color: #a42834;
}

.navbar ul{
    font-family: Verdana;
    background-color: #ccc;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
} 
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;

}
.navbar a:hover{
    background-color: #aaa;
}
.navbar li{
    display: inline-block;
}